[submodule "7-zip"]
	path = 7-zip
	url = https://github.com/atomlong/7-zip.git
[submodule "acme.sh-git"]
	path = acme.sh-git
	url = https://github.com/atomlong/acme.sh-git.git
[submodule "act"]
	path = act
	url = https://github.com/atomlong/act.git
[submodule "alpm_octopi_utils"]
	path = alpm_octopi_utils
	url = https://github.com/atomlong/alpm_octopi_utils.git
[submodule "ansiweather"]
	path = ansiweather
	url = https://github.com/atomlong/ansiweather.git
[submodule "apache-tools"]
	path = apache-tools
	url = https://github.com/atomlong/apache-tools.git
[submodule "archlinux-java-run"]
	path = archlinux-java-run
	url = https://github.com/atomlong/archlinux-java-run.git
[submodule "armutils-git"]
	path = armutils-git
	url = https://github.com/atomlong/armutils-git.git
[submodule "aurto"]
	path = aurto
	url = https://github.com/atomlong/aurto.git
[submodule "aurutils"]
	path = aurutils
	url = https://github.com/atomlong/aurutils.git
[submodule "bcg729-git"]
	path = bcg729-git
	url = https://github.com/atomlong/bcg729-git.git
[submodule "bcmatroska2-git"]
	path = bcmatroska2-git
	url = https://github.com/atomlong/bcmatroska2-git.git
[submodule "bcompare"]
	path = bcompare
	url = https://github.com/atomlong/bcompare.git
[submodule "binfmt-qemu-static"]
	path = binfmt-qemu-static
	url = https://github.com/atomlong/binfmt-qemu-static.git
[submodule "binfmt-qemu-static-all-arch"]
	path = binfmt-qemu-static-all-arch
	url = https://github.com/atomlong/binfmt-qemu-static-all-arch.git
[submodule "buildbot-git"]
	path = buildbot-git
	url = https://github.com/atomlong/buildbot-git.git
[submodule "buildbot-worker-git"]
	path = buildbot-worker-git
	url = https://github.com/atomlong/buildbot-worker-git.git
[submodule "buildbot-www-git"]
	path = buildbot-www-git
	url = https://github.com/atomlong/buildbot-www-git.git
[submodule "camorama"]
	path = camorama
	url = https://github.com/atomlong/camorama.git
[submodule "camorama-git"]
	path = camorama-git
	url = https://github.com/atomlong/camorama-git.git
[submodule "cloudflared"]
	path = cloudflared
	url = https://github.com/atomlong/cloudflared.git
[submodule "cloudflare-wrangler"]
	path = cloudflare-wrangler
	url = https://github.com/atomlong/cloudflare-wrangler.git
[submodule "cpufrequtils"]
	path = cpufrequtils
	url = https://github.com/atomlong/cpufrequtils.git
[submodule "crosstool-ng"]
	path = crosstool-ng
	url = https://github.com/atomlong/crosstool-ng.git
[submodule "crosstool-ng-git"]
	path = crosstool-ng-git
	url = https://github.com/atomlong/crosstool-ng-git.git
[submodule "cyrus-imapd"]
	path = cyrus-imapd
	url = https://github.com/atomlong/cyrus-imapd.git
[submodule "dcron"]
	path = dcron
	url = https://github.com/atomlong/dcron.git
[submodule "dcron-git"]
	path = dcron-git
	url = https://github.com/atomlong/dcron-git.git
[submodule "dkms-frandom"]
	path = dkms-frandom
	url = https://github.com/atomlong/dkms-frandom.git
[submodule "docker-systemctl-replacement-git"]
	path = docker-systemctl-replacement-git
	url = https://github.com/atomlong/docker-systemctl-replacement-git.git
[submodule "dokuwiki-git"]
	path = dokuwiki-git
	url = https://github.com/atomlong/dokuwiki-git.git
[submodule "dokuwiki-plugin-dw2pdf"]
	path = dokuwiki-plugin-dw2pdf
	url = https://github.com/atomlong/dokuwiki-plugin-dw2pdf.git
[submodule "droidcam"]
	path = droidcam
	url = https://github.com/atomlong/droidcam.git
[submodule "drone"]
	path = drone
	url = https://github.com/atomlong/drone.git
[submodule "drone-git"]
	path = drone-git
	url = https://github.com/atomlong/drone-git.git
[submodule "drone-cli"]
	path = drone-cli
	url = https://github.com/atomlong/drone-cli.git
[submodule "drone-cli-git"]
	path = drone-cli-git
	url = https://github.com/atomlong/drone-cli-git.git
[submodule "drone-runner-docker"]
	path = drone-runner-docker
	url = https://github.com/atomlong/drone-runner-docker.git
[submodule "drone-runner-docker-git"]
	path = drone-runner-docker-git
	url = https://github.com/atomlong/drone-runner-docker-git.git
[submodule "drone-runner-exec-bin"]
	path = drone-runner-exec-bin
	url = https://github.com/atomlong/drone-runner-exec-bin.git
[submodule "drone-runner-exec-git"]
	path = drone-runner-exec-git
	url = https://github.com/atomlong/drone-runner-exec-git.git
[submodule "elinks-git"]
	path = elinks-git
	url = https://github.com/atomlong/elinks-git.git
[submodule "email2pdf"]
	path = email2pdf
	url = https://github.com/atomlong/email2pdf.git
[submodule "esphome"]
	path = esphome
	url = https://github.com/atomlong/esphome.git
[submodule "esphome-flasher"]
	path = esphome-flasher
	url = https://github.com/atomlong/esphome-flasher.git
[submodule "esptool-git"]
	path = esptool-git
	url = https://github.com/atomlong/esptool-git.git
[submodule "eyun-keyring"]
	path = eyun-keyring
	url = https://github.com/atomlong/eyun-keyring.git
[submodule "fcitx-sogoupinyin"]
	path = fcitx-sogoupinyin
	url = https://github.com/atomlong/fcitx-sogoupinyin.git
[submodule "ffx264"]
	path = ffx264
	url = https://github.com/atomlong/ffx264.git
[submodule "flashrom-git"]
	path = flashrom-git
	url = https://github.com/atomlong/flashrom-git.git
[submodule "frp"]
	path = frp
	url = https://github.com/atomlong/frp.git
[submodule "fswebcam"]
	path = fswebcam
	url = https://github.com/atomlong/fswebcam.git
[submodule "gamin"]
	path = gamin
	url = https://github.com/atomlong/gamin.git
[submodule "gconf"]
	path = gconf
	url = https://github.com/atomlong/gconf.git
[submodule "gitea-git"]
	path = gitea-git
	url = https://github.com/atomlong/gitea-git.git
[submodule "gitea-tea"]
	path = gitea-tea
	url = https://github.com/atomlong/gitea-tea.git
[submodule "gitea-tea-git"]
	path = gitea-tea-git
	url = https://github.com/atomlong/gitea-tea-git.git
[submodule "git-hub"]
	path = git-hub
	url = https://github.com/atomlong/git-hub.git
[submodule "glib2-git"]
	path = glib2-git
	url = https://github.com/atomlong/glib2-git.git
[submodule "glib2-static"]
	path = glib2-static
	url = https://github.com/atomlong/glib2-static.git
[submodule "gnome-mime-data"]
	path = gnome-mime-data
	url = https://github.com/atomlong/gnome-mime-data.git
[submodule "gnome-vfs"]
	path = gnome-vfs
	url = https://github.com/atomlong/gnome-vfs.git
[submodule "go-git"]
	path = go-git
	url = https://github.com/atomlong/go-git.git
[submodule "gogs"]
	path = gogs
	url = https://github.com/atomlong/gogs.git
[submodule "google-chrome"]
	path = google-chrome
	url = https://github.com/atomlong/google-chrome.git
[submodule "google-chrome-dev"]
	path = google-chrome-dev
	url = https://github.com/atomlong/google-chrome-dev.git
[submodule "grive"]
	path = grive
	url = https://github.com/atomlong/grive.git
[submodule "grive-git"]
	path = grive-git
	url = https://github.com/atomlong/grive-git.git
[submodule "gst-plugins-openwebrtc"]
	path = gst-plugins-openwebrtc
	url = https://github.com/atomlong/gst-plugins-openwebrtc.git
[submodule "gstreamer-git"]
	path = gstreamer-git
	url = https://github.com/atomlong/gstreamer-git.git
[submodule "home-assistant"]
	path = home-assistant
	url = https://github.com/atomlong/home-assistant.git
[submodule "home-assistant-cli"]
	path = home-assistant-cli
	url = https://github.com/atomlong/home-assistant-cli.git
[submodule "inetutils-git"]
	path = inetutils-git
	url = https://github.com/atomlong/inetutils-git.git
[submodule "insync"]
	path = insync
	url = https://github.com/atomlong/insync.git
[submodule "insync-headless"]
	path = insync-headless
	url = https://github.com/atomlong/insync-headless.git
[submodule "iozone"]
	path = iozone
	url = https://github.com/atomlong/iozone.git
[submodule "janus-gateway"]
	path = janus-gateway
	url = https://github.com/atomlong/janus-gateway.git
[submodule "janus-gateway-git"]
	path = janus-gateway-git
	url = https://github.com/atomlong/janus-gateway-git.git
[submodule "kamoso-git"]
	path = kamoso-git
	url = https://github.com/atomlong/kamoso-git.git
[submodule "libart-lgpl"]
	path = libart-lgpl
	url = https://github.com/atomlong/libart-lgpl.git
[submodule "libbonobo"]
	path = libbonobo
	url = https://github.com/atomlong/libbonobo.git
[submodule "libbonoboui"]
	path = libbonoboui
	url = https://github.com/atomlong/libbonoboui.git
[submodule "libcap-git"]
	path = libcap-git
	url = https://github.com/atomlong/libcap-git.git
[submodule "libchardet"]
	path = libchardet
	url = https://github.com/atomlong/libchardet.git
[submodule "libgnome"]
	path = libgnome
	url = https://github.com/atomlong/libgnome.git
[submodule "libgnomecanvas"]
	path = libgnomecanvas
	url = https://github.com/atomlong/libgnomecanvas.git
[submodule "libgnomeui"]
	path = libgnomeui
	url = https://github.com/atomlong/libgnomeui.git
[submodule "libgpiod"]
	path = libgpiod
	url = https://github.com/atomlong/libgpiod.git
[submodule "libmega-git"]
	path = libmega-git
	url = https://github.com/atomlong/libmega-git.git
[submodule "libpdfium-nojs"]
	path = libpdfium-nojs
	url = https://github.com/atomlong/libpdfium-nojs.git
[submodule "libselinux"]
	path = libselinux
	url = https://github.com/atomlong/libselinux.git
[submodule "libsepol"]
	path = libsepol
	url = https://github.com/atomlong/libsepol.git
[submodule "libusrsctp"]
	path = libusrsctp
	url = https://github.com/atomlong/libusrsctp.git
[submodule "libuvc"]
	path = libuvc
	url = https://github.com/atomlong/libuvc.git
[submodule "libuvc-git"]
	path = libuvc-git
	url = https://github.com/atomlong/libuvc-git.git
[submodule "libva-v4l2-request-git"]
	path = libva-v4l2-request-git
	url = https://github.com/atomlong/libva-v4l2-request-git.git
[submodule "linux-armv7"]
	path = linux-armv7
	url = https://github.com/atomlong/linux-armv7.git
[submodule "linux-sunxi"]
	path = linux-sunxi
	url = https://github.com/atomlong/linux-sunxi.git
[submodule "linux-sunxi64"]
	path = linux-sunxi64
	url = https://github.com/atomlong/linux-sunxi64.git
[submodule "linux-wifi-hotspot"]
	path = linux-wifi-hotspot
	url = https://github.com/atomlong/linux-wifi-hotspot.git
[submodule "mediastreamer-git"]
	path = mediastreamer-git
	url = https://github.com/atomlong/mediastreamer-git.git
[submodule "megasync"]
	path = megasync
	url = https://github.com/atomlong/megasync.git
[submodule "mingw-w64-adwaita-icon-theme"]
	path = mingw-w64-adwaita-icon-theme
	url = https://github.com/atomlong/mingw-w64-adwaita-icon-theme.git
[submodule "mingw-w64-agrum"]
	path = mingw-w64-agrum
	url = https://github.com/atomlong/mingw-w64-agrum.git
[submodule "mingw-w64-bzip2"]
	path = mingw-w64-bzip2
	url = https://github.com/atomlong/mingw-w64-bzip2.git
[submodule "mingw-w64-c-utilities"]
	path = mingw-w64-c-utilities
	url = https://github.com/atomlong/mingw-w64-c-utilities.git
[submodule "mingw-w64-civetweb"]
	path = mingw-w64-civetweb
	url = https://github.com/atomlong/mingw-w64-civetweb.git
[submodule "mingw-w64-cmake"]
	path = mingw-w64-cmake
	url = https://github.com/atomlong/mingw-w64-cmake.git
[submodule "mingw-w64-configure"]
	path = mingw-w64-configure
	url = https://github.com/atomlong/mingw-w64-configure.git
[submodule "mingw-w64-dlfcn"]
	path = mingw-w64-dlfcn
	url = https://github.com/atomlong/mingw-w64-dlfcn.git
[submodule "mingw-w64-environment"]
	path = mingw-w64-environment
	url = https://github.com/atomlong/mingw-w64-environment.git
[submodule "mingw-w64-expat"]
	path = mingw-w64-expat
	url = https://github.com/atomlong/mingw-w64-expat.git
[submodule "mingw-w64-fann"]
	path = mingw-w64-fann
	url = https://github.com/atomlong/mingw-w64-fann.git
[submodule "mingw-w64-gdb"]
	path = mingw-w64-gdb
	url = https://github.com/atomlong/mingw-w64-gdb.git
[submodule "mingw-w64-gettext"]
	path = mingw-w64-gettext
	url = https://github.com/atomlong/mingw-w64-gettext.git
[submodule "mingw-w64-glib2"]
	path = mingw-w64-glib2
	url = https://github.com/atomlong/mingw-w64-glib2.git
[submodule "mingw-w64-hicolor-icon-theme"]
	path = mingw-w64-hicolor-icon-theme
	url = https://github.com/atomlong/mingw-w64-hicolor-icon-theme.git
[submodule "mingw-w64-libconfig"]
	path = mingw-w64-libconfig
	url = https://github.com/atomlong/mingw-w64-libconfig.git
[submodule "mingw-w64-libffi"]
	path = mingw-w64-libffi
	url = https://github.com/atomlong/mingw-w64-libffi.git
[submodule "mingw-w64-libiconv"]
	path = mingw-w64-libiconv
	url = https://github.com/atomlong/mingw-w64-libiconv.git
[submodule "mingw-w64-libunistring"]
	path = mingw-w64-libunistring
	url = https://github.com/atomlong/mingw-w64-libunistring.git
[submodule "mingw-w64-meson"]
	path = mingw-w64-meson
	url = https://github.com/atomlong/mingw-w64-meson.git
[submodule "mingw-w64-miniglog"]
	path = mingw-w64-miniglog
	url = https://github.com/atomlong/mingw-w64-miniglog.git
[submodule "mingw-w64-openimagedenoise-bin"]
	path = mingw-w64-openimagedenoise-bin
	url = https://github.com/atomlong/mingw-w64-openimagedenoise-bin.git
[submodule "mingw-w64-pcre"]
	path = mingw-w64-pcre
	url = https://github.com/atomlong/mingw-w64-pcre.git
[submodule "mingw-w64-pdcurses"]
	path = mingw-w64-pdcurses
	url = https://github.com/atomlong/mingw-w64-pdcurses.git
[submodule "mingw-w64-pkg-config"]
	path = mingw-w64-pkg-config
	url = https://github.com/atomlong/mingw-w64-pkg-config.git
[submodule "mingw-w64-qt5-scxml"]
	path = mingw-w64-qt5-scxml
	url = https://github.com/atomlong/mingw-w64-qt5-scxml.git
[submodule "mingw-w64-readline"]
	path = mingw-w64-readline
	url = https://github.com/atomlong/mingw-w64-readline.git
[submodule "mingw-w64-srt"]
	path = mingw-w64-srt
	url = https://github.com/atomlong/mingw-w64-srt.git
[submodule "mingw-w64-tbb"]
	path = mingw-w64-tbb
	url = https://github.com/atomlong/mingw-w64-tbb.git
[submodule "mingw-w64-termcap"]
	path = mingw-w64-termcap
	url = https://github.com/atomlong/mingw-w64-termcap.git
[submodule "mingw-w64-wine"]
	path = mingw-w64-wine
	url = https://github.com/atomlong/mingw-w64-wine.git
[submodule "mingw-w64-zlib"]
	path = mingw-w64-zlib
	url = https://github.com/atomlong/mingw-w64-zlib.git
[submodule "mjpeg-proxy-git"]
	path = mjpeg-proxy-git
	url = https://github.com/atomlong/mjpeg-proxy-git.git
[submodule "mjpg-streamer-git"]
	path = mjpg-streamer-git
	url = https://github.com/atomlong/mjpg-streamer-git.git
[submodule "nginx-mod-rtmp"]
	path = nginx-mod-rtmp
	url = https://github.com/atomlong/nginx-mod-rtmp.git
[submodule "nginx-rtmp-sergey-git"]
	path = nginx-rtmp-sergey-git
	url = https://github.com/atomlong/nginx-rtmp-sergey-git.git
[submodule "ntpdate"]
	path = ntpdate
	url = https://github.com/atomlong/ntpdate.git
[submodule "octopi"]
	path = octopi
	url = https://github.com/atomlong/octopi.git
[submodule "onedrive"]
	path = onedrive
	url = https://github.com/atomlong/onedrive.git
[submodule "onedrive-abraunegg"]
	path = onedrive-abraunegg
	url = https://github.com/atomlong/onedrive-abraunegg.git
[submodule "onedriver"]
	path = onedriver
	url = https://github.com/atomlong/onedriver.git
[submodule "openrc"]
	path = openrc
	url = https://github.com/atomlong/openrc.git
[submodule "opentmpfiles"]
	path = opentmpfiles
	url = https://github.com/atomlong/opentmpfiles.git
[submodule "orbit2"]
	path = orbit2
	url = https://github.com/atomlong/orbit2.git
[submodule "pacman-git"]
	path = pacman-git
	url = https://github.com/atomlong/pacman-git.git
[submodule "paho-mqtt-c-git"]
	path = paho-mqtt-c-git
	url = https://github.com/atomlong/paho-mqtt-c-git.git
[submodule "paho-mqtt-cpp-git"]
	path = paho-mqtt-cpp-git
	url = https://github.com/atomlong/paho-mqtt-cpp-git.git
[submodule "pamac-aur"]
	path = pamac-aur
	url = https://github.com/atomlong/pamac-aur.git
[submodule "paru"]
	path = paru
	url = https://github.com/atomlong/paru.git
[submodule "pcre-static"]
	path = pcre-static
	url = https://github.com/atomlong/pcre-static.git
[submodule "perl-authen-pam"]
	path = perl-authen-pam
	url = https://github.com/atomlong/perl-authen-pam.git
[submodule "perl-encode-detect"]
	path = perl-encode-detect
	url = https://github.com/atomlong/perl-encode-detect.git
[submodule "perl-pod-pom"]
	path = perl-pod-pom
	url = https://github.com/atomlong/perl-pod-pom.git
[submodule "perl-pod-pom-view-restructured"]
	path = perl-pod-pom-view-restructured
	url = https://github.com/atomlong/perl-pod-pom-view-restructured.git
[submodule "platformio"]
	path = platformio
	url = https://github.com/atomlong/platformio.git
[submodule "plowshare-git"]
	path = plowshare-git
	url = https://github.com/atomlong/plowshare-git.git
[submodule "pnpm"]
	path = pnpm
	url = https://github.com/atomlong/pnpm.git
[submodule "proxychains-ng-git"]
	path = proxychains-ng-git
	url = https://github.com/atomlong/proxychains-ng-git.git
[submodule "python-aiohttp"]
	path = python-aiohttp
	url = https://github.com/atomlong/python-aiohttp.git
[submodule "python-ajsonrpc"]
	path = python-ajsonrpc
	url = https://github.com/atomlong/python-ajsonrpc.git
[submodule "python-buildbot-gitea"]
	path = python-buildbot-gitea
	url = https://github.com/atomlong/python-buildbot-gitea.git
[submodule "python-buildbot-pkg-git"]
	path = python-buildbot-pkg-git
	url = https://github.com/atomlong/python-buildbot-pkg-git.git
[submodule "python-certifi"]
	path = python-certifi
	url = https://github.com/atomlong/python-certifi.git
[submodule "python-esphome-dashboard"]
	path = python-esphome-dashboard
	url = https://github.com/atomlong/python-esphome-dashboard.git
[submodule "python-jsonpath-rw"]
	path = python-jsonpath-rw
	url = https://github.com/atomlong/python-jsonpath-rw.git
[submodule "python-netdisco"]
	path = python-netdisco
	url = https://github.com/atomlong/python-netdisco.git
[submodule "python-pypdf2"]
	path = python-pypdf2
	url = https://github.com/atomlong/python-pypdf2.git
[submodule "python-yaml"]
	path = python-yaml
	url = https://github.com/atomlong/python-yaml.git
[submodule "qemu-user-static"]
	path = qemu-user-static
	url = https://github.com/atomlong/qemu-user-static.git
[submodule "qemu-user-static-bin"]
	path = qemu-user-static-bin
	url = https://github.com/atomlong/qemu-user-static-bin.git
[submodule "qtcam-git"]
	path = qtcam-git
	url = https://github.com/atomlong/qtcam-git.git
[submodule "raspi-config-git"]
	path = raspi-config-git
	url = https://github.com/atomlong/raspi-config-git.git
[submodule "rclone-bin"]
	path = rclone-bin
	url = https://github.com/atomlong/rclone-bin.git
[submodule "rclone-browser"]
	path = rclone-browser
	url = https://github.com/atomlong/rclone-browser.git
[submodule "rclone-browser-git"]
	path = rclone-browser-git
	url = https://github.com/atomlong/rclone-browser-git.git
[submodule "rclone-git"]
	path = rclone-git
	url = https://github.com/atomlong/rclone-git.git
[submodule "rng-tools-git"]
	path = rng-tools-git
	url = https://github.com/atomlong/rng-tools-git.git
[submodule "rollup"]
	path = rollup
	url = https://github.com/atomlong/rollup.git
[submodule "sendmail"]
	path = sendmail
	url = https://github.com/atomlong/sendmail.git
[submodule "shadowsocksr"]
	path = shadowsocksr
	url = https://github.com/atomlong/shadowsocksr.git
[submodule "snappymail"]
	path = snappymail
	url = https://github.com/atomlong/snappymail.git
[submodule "sofia-sip"]
	path = sofia-sip
	url = https://github.com/atomlong/sofia-sip.git
[submodule "ssr2json"]
	path = ssr2json
	url = https://github.com/atomlong/ssr2json.git
[submodule "stlink-git"]
	path = stlink-git
	url = https://github.com/atomlong/stlink-git.git
[submodule "stm32flash"]
	path = stm32flash
	url = https://github.com/atomlong/stm32flash.git
[submodule "stm32flash-git"]
	path = stm32flash-git
	url = https://github.com/atomlong/stm32flash-git.git
[submodule "sunxi-tools-git"]
	path = sunxi-tools-git
	url = https://github.com/atomlong/sunxi-tools-git.git
[submodule "sysbench-git"]
	path = sysbench-git
	url = https://github.com/atomlong/sysbench-git.git
[submodule "transfer.sh"]
	path = transfer.sh
	url = https://github.com/atomlong/transfer.sh.git
[submodule "ttf-ms-fonts"]
	path = ttf-ms-fonts
	url = https://github.com/atomlong/ttf-ms-fonts.git
[submodule "ttf-vista-fonts"]
	path = ttf-vista-fonts
	url = https://github.com/atomlong/ttf-vista-fonts.git
[submodule "ustreamer"]
	path = ustreamer
	url = https://github.com/atomlong/ustreamer.git
[submodule "webcamoid"]
	path = webcamoid
	url = https://github.com/atomlong/webcamoid.git
[submodule "webmin"]
	path = webmin
	url = https://github.com/atomlong/webmin.git
[submodule "xmake"]
	path = xmake
	url = https://github.com/atomlong/xmake.git
[submodule "yaffs2utils"]
	path = yaffs2utils
	url = https://github.com/atomlong/yaffs2utils.git
[submodule "yay"]
	path = yay
	url = https://github.com/atomlong/yay.git
[submodule "yay-bin"]
	path = yay-bin
	url = https://github.com/atomlong/yay-bin.git
[submodule "yay-git"]
	path = yay-git
	url = https://github.com/atomlong/yay-git.git
